@import url("https://fonts.googleapis.com/css?family=Raleway:300,500&display=swap");

body {
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  color: #222222;
  letter-spacing: 0.15rem;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

.text-center {
  text-align: center !important;
}

b {
  font-weight: 900;
}

.dark {
  /* background-color: rgba(0, 0, 0, 0.4);
  color: white; */
  background-color: #e9ecef;
  color: black;
  padding: 3rem 0rem 3rem;
}

.navbar {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: #4b4b4b !important;
}

.navbar-nav li {
  padding-right: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #919191;
}

.landing-inner {
  background-color: #919191;
  opacity: 40%;
  height: 100vh;
}

.intro {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: black;
  text-transform: uppercase;
}

.intro h1 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.15rem 0.15rem #575757;
  padding-bottom: 1rem;
}

.intro h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #575757;
  padding-bottom: 1.8rem;
}

#about a {
  color: black;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  background-color: white;
  border-color: black;
}

.btn-lg:hover,
.btn-lg:active {
  background-color: #4b4b4b;
  opacity: 70%;
  border-color: black;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding: 2rem 0 2rem;
}

.narrow h1 {
  font-size: 2.5rem;
}

h3.heading {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
}

.heading-underline {
  width: 8rem;
  height: 0.2rem;
  background-color: black;
  margin: 0 auto 3rem;
}

.fixed-background h3 {
  margin-bottom: 1.5rem;
}

.fixed-background h5 {
  color: black;
}

.fixed-background p {
  margin-top: 1rem;
}

.img-thumbnail {
  border: 0px;
  background-color: transparent;
  border-radius: 0;
  height: 200px;
}

.img-thumbnail.phone {
  height: 350px;
}

.portofolio-item.white {
  background-color: white;
}

.portofolio-item .portofolio-item-hover {
  display: none;
  position: relative;
  top: -6rem;
  height: 0;
  left: 0;
}

.portofolio-item:hover,
.portofolio-item:active {
  border: 2px solid white;
}

.portofolio-item:hover .portofolio-item-hover {
  display: block;
}

.portofolio-item:active .portofolio-item-hover {
  display: block;
}

.portofolio-item:hover .img-thumbnail {
  opacity: 10%;
}

.portofolio-item:active .img-thumbnail {
  opacity: 10%;
}

.technologies {
  margin-bottom: 3rem;
}

.technologies img {
  width: 90%;
  border-radius: 20%;
}

.technologies-hr {
  border-top: 0.1rem solid #919191;
}

.fixed {
  background-color: black;
  z-index: -1;
}

.experience img {
  width: 90%;
  border-radius: 20%;
}

blockquote svg.svg-inline--fa {
  color: #919191;
  margin: 1rem;
}

.experience-hr {
  border-top: 0.1rem solid #919191;
}

.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #dddddd;
  color: rgb(0, 0, 0);
  /* padding: 4rem 0 3.5rem; */
}

.technologies h3 {
  font-size: 1.75rem;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}

.technologies p {
  font-size: 1.15rem;
}

.portofolio-item-hover {
  cursor: pointer;
}

#experience li {
  list-style-type: none;
}

#experience h4 {
  padding-bottom: 2rem;
}

#experience p {
  padding-top: 2rem;
}

.modal-footer {
  justify-content: flex-start;
}

.modal-footer a {
  padding: 8px;
  color: black;
}

.modal-footer .align-center {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.modal-footer .left,
.right {
  display: flex;
  align-items: center;
}

.modal-body img {
  height: 250px;
  padding: 2rem;
}

/* CONTACT SECTION : START */
footer {
  background-color: #4b4b4b;
  color: white;
  padding: 2rem 0 2rem;
}

footer img {
  height: 3.5rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.5rem;
  margin: 1rem;
}

footer svg.svg-inline--fa:hover {
  color: rgba(0, 0, 0, 0.8) !important;
}

/* CONTACT SECTION :  END */

@media screen and (max-width: 900px) {
  .intro h1 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    padding-bottom: 0.5rem;
  }

  .intro h3 {
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    padding-bottom: 1rem;
  }
  h3.heading {
    font-size: 1.5rem;
  }
  .btn-lg {
    padding: 0.3rem 0.6rem;
    font-size: 1.2rem;
  }

  .experience h1 {
    font-size: 1.5rem;
  }

  .experience h4 {
    font-size: 1rem;
  }

  .experience h5 {
    font-size: 0.8;
  }

  .experience h6 {
    font-size: 0.4;
  }

  .technologies img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }

  .technologies h3 {
    font-size: 1rem;
  }

  .technologies p {
    font-size: 0.75rem;
  }

  .fixed-background h3 {
    font-size: 1rem;
    padding-top: 3rem;
  }

  .fixed-background p {
    font-size: 1.3rem;
  }

  .fixed-background h5 {
    font-size: 0.8rem;
  }

  #about .lead {
    font-size: 0.75rem;
  }

  .narrow h1 {
    font-size: 1.75rem;
  }

  .narrow h3,
  a {
    font-size: 1rem;
  }

  .jumbotron p {
    font-size: 0.75rem;
  }

  .jumbotron h5 {
    font-size: 0.8rem;
  }

  .jumbotron h6 {
    font-size: 0.7rem;
  }

  .jumbotron h4 {
    font-size: 1rem;
  }
}
